.btn {
  height: 30px;
  width: 60px;
  background-color: black;
  color: white;
  border: 2px solid #000;
  margin-bottom: 20px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
}
