.one {
  height: 50px;
  width: 5px;
  left: 100px;
  top: 140px;
  position: absolute;
  background-color: green;
}

.square {
  height: 50px;
  width: 5px;
  left: 100px;
  top: 200px;
  position: absolute;
  background-color: red;
}

.cube {
  height: 50px;
  width: 5px;
  left: 100px;
  top: 260px;
  position: absolute;
  background-color: yellow;
}
