.circle {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: red;

  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 1.5s;
}

.first_circle {
  background-color: yellowgreen;
}

.acceptable_circle {
  border: 10px solid black;
}

.textbox {
  margin: 10px 0px;
}

.pt {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
}

.l {
  height: 2px;
  width: 20px;
  background-color: darkgreen;
}

.icon-arrow {
  width: 250px;
  height: 4px;
  border-radius: 4px;
  background-color: #000;
  position: absolute;
  /* top: 50px; */
  transform: rotate(0deg);
}

.icon-arrow::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 4px;
  background-color: #000;
  transform: rotate(45deg);
  position: absolute;
  right: -6px;
  bottom: 13px;
}

.icon-arrow::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 4px;
  background-color: #000;
  transform: rotate(-45deg);
  position: absolute;
  right: -6px;
  bottom: -13px;
}

.l::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background-color: #000;
  transform: rotate(45deg);
  position: absolute;
  right: -6px;
  bottom: 13px;
}

.l::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 2px;
  background-color: #000;
  transform: rotate(-45deg);
  position: absolute;
  right: -6px;
  bottom: -13px;
}

.insideText {
  font-size: 50px;
  color: black;
}

.container {
  margin: 20px;
}

.inputBox {
  height: 25px;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 5px;

  font-size: 20px;
  font-weight: 500;
}

.runBtn {
  height: 40px;
  width: 70px;
  background-color: rgb(6, 233, 10);
  color: rgb(1, 0, 0);
  border: none;
  border-radius: 5px;

  margin: 10px;
  font-size: 20px;
  font-weight: 500;
}

.btn {
  position: absolute;
  top: 93%;
  margin-left: 30px;

  padding: 5px 20px;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  display: block;
}
